@import "tailwindcss";

:root {
  --background: #e9ecf6;
  --foreground: #171717;
  --blue: #2067ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-helvetica: "Helvetica, Arial, sans-serif";
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}
main{
  min-height: 100vh;
}
/* Button Styles */
button {
  cursor: pointer;
}

/* Font Styles */
h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
}
p {
  font-size: 20px;
  line-height: 160%;
}

/* Custom Clases */
.section-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  color: #000;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
  text-transform: capitalize;
}

.section-title span {
  color: var(--blue);
}
.section-title span.separate-line {
  width: 100%;
  display: inline-block;
}

.title-span {
  color: var(--blue);
}

.bg-custom-blue {
  background-color: var(--blue);
}

.main-container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.StickyComponent {
  position: sticky;
  top: 0px;
  z-index: 99999;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .StickyComponent {
    overflow: hidden;
  }
  .main-container {
    max-width: 95%;
  }
  .section-title {
    font-size: 1.75rem;
    line-height: 100%;
    text-align: center;
  }
}
/* Wrapper */
.whatapp-icon-wrapper {
  z-index: 9999;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

/* Text button - hidden by default */
.floating-enquiry-btn {
  position: fixed;
  bottom: 6rem;
  right: 1rem;
  background: #25D366;
  color: #fff;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  z-index: 9999;
  opacity: 0;            /* hidden by default */
  transform: translateX(10px);   /* slight move for animation */
  transition: all 0.25s ease-in-out;
}

/* When hover the WhatsApp icon → show text */
.whatapp-icon-wrapper:hover + .floating-enquiry-btn,
.floating-enquiry-btn:hover {
  opacity: 1;
  transform: translateX(0);
}


.floating-enquiry-btn:hover {
  transform: scale(1.05);
}

/* Mobile Responsive Fix */
@media (max-width: 600px) {
  .floating-enquiry-btn {
    bottom: 20px;
    right: 12px;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 6px;
  }
}
