@import "tailwindcss";

:root {
  --background: #e9ecf6;
  --foreground: #171717;
  --blue: #2067ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-helvetica: "Helvetica, Arial, sans-serif";
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, Arial, sans-serif;
}

/* Button Styles */
button {
  cursor: pointer;
}

/* Font Styles */
h1 {
  font-size: 70px;
  line-height: 80px;
  font-weight: bold;
}
p {
  font-size: 20px;
  line-height: 160%;
}

/* Custom Clases */
.section-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  color: #000;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}

.section-title span {
  color: var(--blue);
}
.section-title span.separate-line {
  width: 100%;
  display: inline-block;
}

.title-span {
  color: var(--blue);
}

.bg-custom-blue {
  background-color: var(--blue);
}

.main-container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

.StickyComponent {
  position: sticky;
  top: 0px;
  z-index: 99999;
  background-color: var(--background);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .StickyComponent {
    overflow: hidden;
  }
  .section-title {
    font-size: 2rem;
    line-height: 90%;
    text-align: center;
  }
}
