.home-landing {
  width: 100%;
  margin-top: 60px;
  text-align: center;
  overflow-x: hidden;
}
.hero-landing-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.home-landing-title {
  width: 750px;
}
.hero-landing-text {
  width: 700px;
}

.image-grid-wrapper {
  width: 100%;
  display: grid;
}
