.image-grid-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
}

.image-grid-item {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

  filter: grayscale(100%);
  transition: filter 0.5s ease;
}

.image-grid-item:hover img {
  filter: grayscale(0%);
}
