.categoerie-sub-title {
    display: flex;
    padding: 0.9375rem 2.1875rem;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .categoerie-sub-title-text {
    color: #000;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 0.3s ease;
  }

  .categoerie-sub-title:hover{
    background-color: #2067ff;
    color: #fff;
  }
  .categoerie-sub-title:hover .categoerie-sub-title-text{
    color: #fff;
  }